    </div>
</main>

<footer class="page-footer grey darken-4">
        <div class="container" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text text-lighten-4">MYHEALTH CLINIC</h5>
              <p class="grey-text text-lighten-4" style="color:#1b8bff!important;">Better Ways to Better Health</p>
              <p class="grey-text text-lighten-4">OFW Portal - MyHealth Clinic OFW Online Medical
                   Results</p>
              <p class="grey-text text-lighten-4">Current Version 1.0</p>
              <p class="grey-text text-lighten-4">Contact Us. 441-4106/441-4102/441-4103</p>
            </div>

            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="https://www.myhealth.ph/" target="_blank">MyHealth Clinic Official Website</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/MyHealthClinicPH/" target="_blank">Like us on Facebook</a></li>
                <li><a class="grey-text text-lighten-3" href="/about">About MyHealth Clinic</a></li>

                <br />
                <% if(!user) { %>
                  <li><a class="grey-text text-lighten-3" href="/users/login"><i class="material-icons left">input</i>Log In Page</a></li>
                <% } else {%>
                  <li><a class="grey-text text-lighten-3" href="/users/logout"><i class="material-icons left">logout</i>Log Out</a></li>
                <% } %> 
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
         <p> © 2018 Copyright - Crimson Tiangco. All rights reserved. </p>
          </div>
        </div>
      </footer>

<script src="assets/js/script.js"></script>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="bower_components/datatables.net/js/jquery.datatables.js"></script>
<script type="text/javascript" src="bower_components/datatables.net-bs/js/datatables.bootstrap.js"></script>
<script type="text/javascript" src="bower_components/materialize/dist/js/materialize.min.js"></script>
<script type="text/javascript" src="assets/jquery-ui.min.js"></script>
<script>
    $(document).ready( function () {
    $('#ofw-table').DataTable();
    $('.sidenav').sidenav();
    $(".dropdown-trigger").dropdown();
    $('.collapsible').collapsible();
    $('.modal').modal();
    //$('.datepicker').datepicker();
    $('select').formSelect();
    $('.fixed-action-btn').floatingActionButton();
    $('input#input_text, textarea#textarea2').characterCounter();
});
</script>
</body>
</html>