<% include partials/header %>
<div class="container"><!-- container -->
  <h4 style="text-align: center">About Us</h4>
    <div>
        <h4>MyHealth Clinic</h4>
        <p>MyHealth Clinic is a network of multi-specialty medical clinics offering comprehensive outpatient healthcare products and services. Believing that healthcare should be not just of quality, but must also be accessible, we integrated in our clinics the entire spectrum of medical services that patients need to take better care of their health</p>
    </div>

    <div>
      <h5>Our Mission</h5>
      <small>We deliver healthcare that is <b>compassionate, convenient, and cost-effective.</b> We do this by:</small>
      <ol>
        <li>Employing highly trained and dedicated medical professionals who value and give exceptional patient care</li>
        <li>Using state-of-the-art medical technologies that help our medical staff arrive at carefully-formed diagnosis</li>
        <li>Using the latest information systems and technologies to facilitate faster transactions and ensure accuracy of patient data</li>
        <li>Operating clinics situated in accessible locations, with long clinic hours to cater to our patients’ varied schedules and lifestyl</li>
      </ol>
    </div>

    <div>
      <h5>Our Vision</h5>
      <h6 style="background-color:#dddd;color:black;height:40px;line-height: 40px;text-align: center;">We shall be distinguished by providing the best customer experience in the healthcare industry.</h6>
    </div>
</div><!-- container -->

<% include partials/footer %>